html,body {
    margin: 0 0;
    background-color: #17253a;
    scroll-behavior: smooth; 
    overflow-x: hidden;
  }
  @media screen and (max-width: 480px) {
    body {
      display: block;
      float: left;
    }
  }
  
  
  #arrow {
    text-decoration:none;
    color: white;
  
  }

  #bg {
    background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: opacity 3s ease-in;
    opacity: 1;
  }
  #bg.toggle-background{
    opacity: 0;
  }


  
  #html {
    height: 50px; 
    width: 50px;
  }
  
  #css {
    height: 50px; 
    width: 50px;
  }
  
  #js {
     height: 50px; 
    width: 50px;
  }
  
  #react {
    height: 50px;
    width: 50px;
  }
  
  #github {
    height: 50px;
    width: 50px;
  }
  
  #welcome-section {
    width: 100%;
    height: 100vh; 
    display: grid;
  }
  
  #welcome {
    margin: 200px auto;
    width: 20%;
    color: white;
    font-family: merriweather;
    text-align: center;
    border: 3px white solid;
    padding: 20px;
  }
  
  #welcome-section h1 {
    margin: 0px;
    font-weight: 900;
  }
  
  #locator, #storefront {
    color:white;
    font-size: 50px;
    margin: 0px auto;
  }
  
  
  
  #navbar {
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: rgba(25,25,25, .5);
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    position: fixed;
    z-index: 2;
  }
  
  #navbar a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    text-weight: light;
    font-family: merriweather;
    color: white;
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    margin: 0px;
    z-index: 1;
  }
  
  
  
  #project-box {
    display: flex;
    margin-top: 100px;
    justify-content: flex-start;
    
  }
  
  
  
  #projects {
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 20px;
    font-family: merriweather;
    
  }
  
  #projects h1 {
    font-weight: 900;
  
    font-size: 36px;
    margin-top: 0px;
  
  }
  
  #projects h3 {
  
    font-weight: 700;
    font-size: 20px;
  }
  
  
  
  #text {
    font-family: merriweather;
    width: 50%;
    color: white;
    margin-left: 15%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px white solid;
  }
  
  #text2 {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    padding: 10px;
    border-radius: 10px;
  }
  
  
  .tile {
    height: 600px;
    width: 40%;
    display: grid;
    justify-content: center;
    text-align: center;
    color: white;  
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease-in;
    padding: 15px;
    background-color: rgb(44, 70, 109, .5);
  }

 
  .tile.toggle-opacity {
    opacity: 1;
  }

  .tile:hover {
    transform: scale(1.05,1.05);
  }
  
  .tile a {
    text-decoration: none;
    color: white;
   
  }
  
  .tile img {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px ;
    position: relative;
    margin-top: 15px;
  }

  .tile img:hover{
    filter: blur(1px);
  }



  footer {
    height: 50px;
    width: 100%;
    background-color: rgb(44, 70, 109, .5);
    color: white;
    font-family: merriweather;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  footer a {
    text-decoration: none;
    margin: 10px 10px;
    color: white;
  }
  
  footer img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  